# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Some popular Languages used in Data Science
* Libraries commonly used by Data Scientists  
* Open Source Development Environment
* Simple Arithmetic Calculation
* Converting minutes into hours

Some of the popular languages that Data Scientists use are:  
    1. Python  
    2. R  
    3. SQL  
    4. Java  
    5. Scala  
    6. C++  
    7. Julia

Some of the commonly used libraries used by Data Scientists include:  
     1. Pandas  
     2. NumPy  
     3. Matplotlib  
     4. Keras  
     5. PyTorch  
     6. ggplot2  
     7. TensorFlow

| Data Science Tools |
| ------ |
| JupyterLab |
| R-Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
mins = 200
hours = mins / 60
print ("Number of hours =", hours)

Number of hours = 3.3333333333333335

## Author
Kezia Owusu Nti